<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <main-screen v-if="activeState === state.main"
              v-on:book-info-updated="updateBookInfo"
              v-on:error="activateResponseStatusMessage"></main-screen>

    <chosen-book v-else-if="activeState === state.bookInfo"
                 :book-info="client.bookName"
                 v-on:book-confirmed="bookConfirmed"
                 v-on:book-declined="backToMainScreen"></chosen-book>

    <card-read v-else-if="activeState === state.card"
               v-on:error="activateResponseStatusMessage"
               v-on:cancel-clicked="backToMainScreen"
               v-on:client-successfully-identified="clientSuccessfullyIdentified"></card-read>

    <date-picker v-else-if="activeState === state.date" :client-name="client.name"
                 v-on:date-submitted="dateSubmitted"></date-picker>

    <response-status-message v-if="responseStatusVisible"
                             :client-name="client.name"
                             v-on:close-response-status-msg="deactivateResponseStatusMessage"
                             :response="response"></response-status-message>
</div>
<script src="bundle.js"></script>
</body>
</html>