<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <keyboard v-if="activeState === state.main" v-on:book-info-updated="updateBookInfo" v-on:error="activateResponseStatusMessage"></keyboard>
    <chosen-book v-else-if="activeState === state.bookInfo" :book-info="bookInfo" v-on:book-confirmed="bookConfirmed" v-on:book-declined="backToMainScreen"></chosen-book>

    <response-status-message v-if="responseStatusVisible" :response="response" v-on:close-response-status-msg="deactivateResponseStatusMessage"></response-status-message>
</div>
<script src="bundle.js"></script>
</body>
</html>