html, body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: $bgp-arial;
  color: $text-primary;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $content-gray;
  font-size: 1.6rem;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.default-layout {
  position: relative;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: $nav-height 1.5rem 0 $side-nav-width;
}

.transform-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// --- containers --- //
.flex-center-vertically {
  display: flex;
  align-items: center;
}

.flex-center-horizontally {
  display: flex;
  justify-content: center;
}

// --- btn --- //
.btn {
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
  transition: all 0.15s ease;
}

.btn-primary {
  background: #775cef;
  border-color: #775cef;
  color: #fff;

  &:hover {
    background: #9b84ff;
    border-color: #9b84ff;
    box-shadow: 0 0 0 3px #c7baff;
  }
}

// --- text colors --- //
.text-muted {
}

.text-primary {
  color: $text-primary;
}

.text-primary-light {
  color: $text-primary-light;
}

.text-success {
}

.text-info {
}

.text-warning {
}

.text-danger {
}

// --- background colors --- //
.bg-muted {
}

.bg-primary {
  background-color: $primary;
}

.bg-primary-light {
  background-color: $primary-light;
}

.bg-accent {
  background-color: $accent;
}

.bg-success {
}

.bg-info {
}

.bg-warning {
}

.bg-danger {
}

// --- fonts --- //
.f-gotham-medium {
  font-family: 'GothamMedium', sans-serif;
}

.f-gotham-light {
  font-family: 'GothamThin', sans-serif;
}

.f-gotham-bold {
  font-family: 'gotham-bold', sans-serif;
}

.f-gotham-regular {
  font-family: 'gotham', sans-serif;
}

.f-nino-mtavruli {
  font-family: $nino-mtavruli;
}

.f-bgp-arial {
  font-family: $bgp-arial;
}
