.main-header {
  z-index: 100;
  width: 100%;
  position: fixed;
  height: $nav-height;
  padding: 0 $container-padding;
  background-color: white;
  box-shadow: 0 0 25px -10px #000;
  top: 0;

  .left {
    height: 100%;
    position: relative;
  }
}

.main-header-nav {
  justify-content: space-between;
  height: 100%;
}

.main-header-logo {
  height: 70%;
  position: relative;
  padding-right: 35px;
  margin-right: 35px;
  border-right: 1px solid #e1e1e1;
}

.main-header-menu {
  height: 100%;
  display: flex;

  .main-header-menu-item {
    height: 100%;
    padding-left: 2.5rem;
  }
}