<label>
  Color
  <div class="color-block-wrapper">
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#fbfbfb'}"
         (click)="targetObject[targetObjectField] = '#fbfbfb'" style="background-color: #fbfbfb"></div>
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#dddddd'}"
         (click)="targetObject[targetObjectField] = '#dddddd'"
         style="background-color: #dddddd"></div>
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#fdad9e'}"
         (click)="targetObject[targetObjectField] = '#fdad9e'"
         style="background-color: #fdad9e"></div>
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#ffffb7'}"
         (click)="targetObject[targetObjectField] = '#ffffb7'"
         style="background-color: #ffffb7"></div>
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#d4ffcf'}"
         (click)="targetObject[targetObjectField] = '#d4ffcf'"
         style="background-color: #d4ffcf"></div>
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#ffe6b5'}"
         (click)="targetObject[targetObjectField] = '#ffe6b5'"
         style="background-color: #ffe6b5"></div>
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#d7e0b1'}"
         (click)="targetObject[targetObjectField] = '#d7e0b1'"
         style="background-color: #d7e0b1"></div>
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#b5dce1'}"
         (click)="targetObject[targetObjectField] = '#b5dce1'"
         style="background-color: #b5dce1"></div>
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#cfdaf0'}"
         (click)="targetObject[targetObjectField] = '#cfdaf0'"
         style="background-color: #cfdaf0"></div>
    <div class="color-block"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#f5e1ea'}"
         (click)="targetObject[targetObjectField] = '#f5e1ea'"
         style="background-color: #f5e1ea"></div>
  </div>
</label>
