<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"> </i> Total Users</span>
    <div class="count green">{{userCount}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-book"> </i> Total Resources</span>
    <div class="count green">{{resourcesCount}}</div>
  </div>
</div>

<div class="modal fade" data-backdrop="static" id="sendMailModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send mail</h4>
      </div>
      <div class="modal-body">

        <lms-input label="Subject" fieldName="subject"
                   [fieldObject]="mail" fieldType="text" capPattern="^.{2,50}$" [capRequired]="true"
                   alertText="Name must contain minimum 2 characters"></lms-input>
        <lms-textarea label="Message" fieldName="message"
                   [fieldObject]="mail" [capRequired]="true"></lms-textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="sendMailToServer()">Send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Monitoring
        <small>resources </small>
      </h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <lms-table [items]="borrows"
             [editable]="true"
             [addable]="false"
             [searchable]="true"
             [advanceFilter]="true"
             (onFilteredClick)="filterClicked($event)"
             (onTermSearch)="updateResourcesData($event)"
             [pagination]="true"
             [pageNum]="pageNum"
             [reloadEvent]="loader"
             (onPageChange)="changePage($event)"

  >
    <lms-column header="Client ID" field="clientId" filtered="number"></lms-column>
    <lms-column header="Identifier" field="identifier" filtered="text">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.resourceCopy.identifier}}</span>
      </ng-template>
    </lms-column>
    <lms-column header="ISBN" field="isbn" filtered="text">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.resourceCopy.resource.isbn}}</span>
      </ng-template>
    </lms-column>
    <lms-column header="Borrow time" field="borrowTime" filtered="date">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.borrowTime | date:'dd/MM/yyyy HH:mm' }}</span>
      </ng-template>
    </lms-column>
    <lms-column header="Return time" field="returnTime" filtered="date">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.returnTime | date:'dd/MM/yyyy HH:mm' }}</span>
      </ng-template>
    </lms-column>
    <lms-column header="Scheduled return time" field="scheduledTime" filtered="date">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.scheduledReturnTime | date:'dd/MM/yyyy HH:mm' }}</span>
      </ng-template>
    </lms-column>
    <lms-column header="Critical" field="critical" filtered="checkbox">
      <ng-template #dataTableCell let-item="item">
        <div *ngIf="!item.critical" class="text-center"><i class="fa fa-check-circle f-16 green"></i></div>
        <div *ngIf="item.critical" class="text-center"><i class="fa fa-times-circle f-16 red "></i></div>
      </ng-template>
    </lms-column>
    <lms-column header="Send mail" field="mail" filtered="checkbox">
      <ng-template #dataTableCell let-item="item">
        <div class="text-center"><i class="fa fa-mail-reply f-16 green lms-cursor" (click)="sendMail(item.clientId)"></i></div>
      </ng-template>
    </lms-column>
  </lms-table>
</div>

