AnyQt==0.0.8
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.5
opencv-python==3.4.1.15
PyForms==3.0.1
PyOpenGL==3.1.0
pyparsing==2.2.0
PyQt5==5.11.2
PyQt5-sip==4.19.12
pysettings==1.0.0
python-dateutil==2.7.3
pytz==2018.5
QScintilla==2.10.7
six==1.11.0
visvis==1.11.1
