@mixin font-face($style-name, $file, $family:'fonts', $category:"") {
  $filepath: "/dist/fonts" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".ttf");
    src: url($filepath + ".woff2");
    src: url($filepath + ".svg");
    src: url($filepath + ".ttf");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff2") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      }
      @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
}

//@include font-face('avaza-mtavruli', '/avaza/AvazaMtavruli');
//@include font-face('avaza-mtavruli', '/glaho/bpg_glaho_sylfaen');
@include font-face('nino-mtavruli', '/ninomtavruli/bpg_nino_mtavruli_bold');
@include font-face('bgp-arial', '/ninomtavruli/BPGArial');

//
//@font-face {
//  font-family: 'bpg_glaho_sylfaen';
//  src: url('/dist/fonts/bpg_glaho_sylfaen.ttf');
//  src: url('/dist/fonts/bpg_glaho_sylfaen.eot') format('embedded-opentype'),
//  url('/dist/fonts/bpg_glaho_sylfaen.woff2') format('woff2'),
//  url('/dist/fonts/bpg_glaho_sylfaen.woff') format('woff'),
//  url('/dist/fonts/bpg_glaho_sylfaen.ttf') format('truetype');
//}
