// Colors
$content-gray:#f5f5f5;
$light-dark:#2a3353;
$dark:#1f2741;

$primary: #1f2741;
$primary-light: #2a3353;
$accent: #775cef;

$text-primary-light: #b2b0b1;
$text-primary: #1f1f1f;


$nav-height: 72px;
$container-padding: 45px;

// Fonts
$nino-mtavruli: "nino-mtavruli", sans-serif;
$bgp-arial: "bgp-arial", sans-serif;