<lms-confirm-modal id="confirmModal" modalTitle="Confirmation"
                   modalMessage="Are you sure you want to delete this resource?"
                   (onOkClick)="onDeleteConfirmed()">
</lms-confirm-modal>

<lms-upload-modal [abilityToUpload]="isManage" [fieldObject]="selectedResource" fieldName="imageUrl"
                  (uploadImageClick)="updateResource($event)"
                  [prevFieldObject]="utils.getPrevObj()"></lms-upload-modal>

<lms-upload-modal [abilityToUpload]="isManage" [fieldObject]="selectedResource" fieldName="resourceUrl" [fileType]="true"
                  (uploadImageClick)="updateResource($event)"
                  [prevFieldObject]="utils.getPrevObj()"></lms-upload-modal>

<div *ngIf="isManage" class="modal fade" data-backdrop="static" id="resourceModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Resource details</h4>
      </div>
      <ul class="cap-tabs nav nav-tabs">
        <li id="resourceDetails" class="nav-item active">
          <a class="nav-link">Details</a>
        </li>
        <li *ngIf="selectedResource && selectedResource.id" id="resourceCopies" class="nav-item">
          <a class="nav-link">Copies</a>
        </li>
      </ul>
      <div *ngIf="selectedResource" class="modal-body">
        <div id="tab-content-resourceDetails" class="cap-flex">
          <div class="half-width">
            <lms-input label="Name" fieldName="name"
                       [fieldObject]="selectedResource" fieldType="text" capPattern="^\S+.{2,50}$" [capRequired]="true"
                       alertText="Name must contain minimum 2 characters"></lms-input>
            <lms-input label="Author" fieldName="author"
                       [fieldObject]="selectedResource" fieldType="text" capPattern="^\S+.{2,50}$" [capRequired]="true"
                       alertText="Author must contain minimum 2 characters"></lms-input>
            <lms-input label="Subname" fieldName="subName"
                       [fieldObject]="selectedResource" fieldType="text" capPattern="^\S+.{2,50}$" [capRequired]="true"
                       alertText="Subname must contain minimum 2 characters"></lms-input>
            <lms-input label="Edition" fieldName="edition"
                       [fieldObject]="selectedResource" fieldType="number" capPattern="^.{1,50}$" [capRequired]="true"
                       alertText="Edition must contain minimum 1 character"></lms-input>
            <lms-input label="Publisher" fieldName="publisher"
                       [fieldObject]="selectedResource" fieldType="text" capPattern="^\S+.{2,50}$" [capRequired]="true"
                       alertText="Publisher must contain minimum 2 characters"></lms-input>
            <lms-input label="Edition Year" fieldName="editionYear"
                       [fieldObject]="selectedResource" fieldType="text" capPattern="^.{4,6}$" [capRequired]="true"
                       alertText="Edition year must contain minimum 4 characters"></lms-input>
            <lms-input label="Page count" fieldName="pageNum" [fieldObject]="selectedResource"
                       fieldType="number"></lms-input>
            <lms-input label="ISBN" fieldName="isbn"
                       [fieldObject]="selectedResource" fieldType="text" capPattern="^.{13}$" [capRequired]="true"
                       alertText="ISBN must contain 13 characters"></lms-input>
            <lms-input label="UDC" fieldName="udc"
                       [fieldObject]="selectedResource" fieldType="text" capPattern="^.{2,10}$" [capRequired]="true"
                       alertText="UDC must contain 2-10 characters"></lms-input>
          </div>
          <div class="half-width">
            <lms-input label="ISSN" fieldName="issn" [capRequired]="true" [fieldObject]="selectedResource"
                       alertText="Must not be empty"
                       fieldType="text"></lms-input>
            <lms-input label="Place" fieldName="place" [fieldObject]="selectedResource"
                       fieldType="text"></lms-input>
            <lms-input label="Reference URL" fieldName="referenceURL"
                       [fieldObject]="selectedResource" fieldType="text"></lms-input>
            <lms-dynamic-component label="Resource Type" fieldName="resourceType" [fieldObject]="selectedResource"
                                   [searchable]="false"
                                   [values]="resourceTypes" returnFieldName="id"
                                   [selectedObject]="selectedResource.resourceType"
                                   [returnObject]="false">
              <lms-dynamic-column field="name">
                <ng-template #dynamicComboColumn let-item="item">
                  <span *ngIf="item.id == 'PRINTED'"><i class="fa fa-book"></i> {{item.name}}</span>
                  <span *ngIf="item.id == 'E_BOOK'"><i class="fa fa-file-pdf-o"></i> {{item.name}}</span>
                </ng-template>
              </lms-dynamic-column>
            </lms-dynamic-component>
            <lms-dynamic-component label="Material Type" [values]="materialTypes"
                                   (onSearch)="initMaterialTypes($event)" fieldName="materialType"
                                   [selectedObject]="selectedResource.materialType"
                                   [fieldObject]="selectedResource" showValue="name" returnFieldName="id"
                                   [capRequired]="true"
                                   alertText="Cannot be empty"
                                   [returnObject]="true">
              <lms-dynamic-column field="id"></lms-dynamic-column>
              <lms-dynamic-column field="name"></lms-dynamic-column>
            </lms-dynamic-component>
            <lms-dynamic-component label="Language" [values]="languages"
                                   (onSearch)="initLanguages($event)" fieldName="language"
                                   [selectedObject]="selectedResource.language"
                                   [fieldObject]="selectedResource" showValue="name" returnFieldName="id"
                                   [capRequired]="true"
                                   alertText="Cannot be empty"
                                   [returnObject]="true">
              <lms-dynamic-column field="id"></lms-dynamic-column>
              <lms-dynamic-column field="name"></lms-dynamic-column>
            </lms-dynamic-component>
            <lms-dynamic-component label="Category" [values]="categories"
                                   (onSearch)="initCategories($event)" fieldName="category"
                                   [selectedObject]="selectedResource.category"
                                   [fieldObject]="selectedResource" showValue="name" returnFieldName="id"
                                   [capRequired]="true"
                                   alertText="Cannot be empty"
                                   [returnObject]="true">
              <lms-dynamic-column field="id"></lms-dynamic-column>
              <lms-dynamic-column field="name"></lms-dynamic-column>
            </lms-dynamic-component>
          </div>
        </div>
        <div *ngIf="selectedResource && selectedResource.id" id="tab-content-resourceCopies" class="hide">
          <lms-table [items]="resourceCopies"
                     (rowDoubleClick)="showCopyAddEditModal($event)"
                     (onAddButtonClick)="showCopyAddModal($event)"
                     [addable]="isManage"
                     [editable]="isManage"
                     [searchable]="true"
                     (onTermSearch)="updateResourcesCopyData($event)"
                     [pagination]="true"
                     [pageNum]="coyPageNum"
                     [reloadEvent]="copyLoader"
                     (onPageChange)="changePageCopy($event)"

          >
            <lms-column header="ID" field="id"></lms-column>
            <lms-column header="Name" field="name"></lms-column>
            <lms-column header="Identifier" field="identifier"></lms-column>
          </lms-table>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="(selectedResource && selectedResource.id)" type="button" class="btn btn-danger left"
                (click)="deleteResource()">Delete
        </button>
        <button *ngIf="(selectedResource && selectedResource.id)" type="button" class="btn btn-success"
                (click)="updateResource()">Update
        </button>
        <button *ngIf="!(selectedResource && selectedResource.id)" type="button" class="btn btn-success"
                (click)="saveResource()"
                [disabled]="false">
          Save
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isManage" class="modal fade" data-backdrop="static" id="resourceCopyModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Resource copy details</h4>
      </div>
      <div class="modal-body">

        <lms-input label="Name" fieldName="name"
                   [fieldObject]="selectedResourceCopy" fieldType="text" capPattern="^.{2,50}$" [capRequired]="true"
                   alertText="Name must contain minimum 2 characters"></lms-input>
        <lms-input label="Identifier" fieldName="identifier"
                   [fieldObject]="selectedResourceCopy" fieldType="text" capPattern="^.{2,50}$" [capRequired]="true"
                   alertText="Code must contain minimum 2 characters"></lms-input>
      </div>
      <div class="modal-footer">
        <button *ngIf="(selectedResourceCopy && selectedResourceCopy.id)" type="button" class="btn btn-danger left"
                (click)="deleteCopyResource()">Delete
        </button>
        <button *ngIf="(selectedResourceCopy && selectedResourceCopy.id)" type="button" class="btn btn-success"
                (click)="updateCopyResource()">Update
        </button>
        <button *ngIf="!(selectedResourceCopy && selectedResourceCopy.id)" type="button" class="btn btn-success"
                (click)="saveCopyResource()"
                [disabled]="false">
          Save
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Resources
        <small>Managing resources</small>
      </h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <lms-table [items]="resources"
             (rowDoubleClick)="showAddEditModal($event)"
             (onAddButtonClick)="showAddModal($event)"
             [addable]="isManage"
             [editable]="isManage"
             [searchable]="true"
             [advanceFilter]="true"
             (onFilteredClick)="filterClicked($event)"
             (onTermSearch)="updateResourcesData($event)"
             [pagination]="true"
             [pageNum]="pageNum"
             [reloadEvent]="loader"
             (onPageChange)="changePage($event)"

  >
    <lms-column header="" field="imageUrl">
      <ng-template #dataTableCell let-item="item">
        <div class="user-profile img-square lms-pointer lms-hover" title="Upload Image" (click)="openImageModal(item)">
          <img src="{{item.imageUrl ? item.imageUrl : environment.srcPref + '/assets/default.png'}}"></div>
      </ng-template>
    </lms-column>
    <lms-column header="" field="resourceUrl">
      <ng-template #dataTableCell let-item="item">
        <div class="user-profile img-square lms-pointer lms-hover" title="Upload Image" (click)="openFilesModal(item)">
          <i [ngClass]="{'green' : (item && item.resourceUrl), 'red' : !(item && item.resourceUrl)}"  class="fa fa-book f-20"></i>
        </div>
      </ng-template>
    </lms-column>

    <lms-column header="ID" field="id" filtered="number"></lms-column>
    <lms-column header="Name" field="name" filtered="text"></lms-column>
    <lms-column header="Author" field="author" filtered="text"></lms-column>
    <lms-column header="Subname" field="subName" filtered="text"></lms-column>
    <lms-column header="Edition Year" field="editionYear" filtered="text"></lms-column>
    <lms-column header="ISBN" field="isbn" filtered="text"></lms-column>
    <lms-column header="Creation date" field="creationDate" filtered="date">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.creationDate | date:'dd/MM/yyyy' }}</span>
      </ng-template>
    </lms-column>
    <lms-column header="Modification date" field="modificationDate" filtered="date">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.modificationDate | date:'dd/MM/yyyy' }}</span>
      </ng-template>
    </lms-column>
    <lms-column header="Resource type" field="resourceType" filtered="combo" [filteredOptions]="resourceTypes"
                filteredFieldName="resourceType" filteredOptionName="name" filteredOptionValue="id"
                [filteredOptionReturnObject]="false">
      <ng-template #dataTableCell let-item="item">
        <span *ngIf="item.resourceType && item.resourceType == 'PRINTED' "><span class="cap-tag"
                                                                     style="background: #00ea96; color: white">{{item.resourceType}}</span></span>
        <span *ngIf="item.resourceType && item.resourceType == 'E_BOOK' "><span class="cap-tag"
                                                                    style="background: #de3626; color: white">{{item.resourceType}}</span></span>
      </ng-template>
    </lms-column>
    <lms-column header="Material type" field="materialType" filtered="dynamic-combo" [filteredOptions]="materialTypes"
                filteredFieldName="materialTypeId" filteredOptionName="name" filteredOptionValue="id"
                [filteredOptionReturnObject]="false" [filteredOptionColumns]="['code', 'name']"
                (onSearchFunction)="initMaterialTypes($event)">
      <ng-template #dataTableCell let-item="item">
        <span *ngIf="item.materialType">{{item.materialType.name}}</span>
      </ng-template>
    </lms-column>
    <lms-column header="Language" field="language" filtered="dynamic-combo" [filteredOptions]="languages"
                filteredFieldName="langiuageId" filteredOptionName="name" filteredOptionValue="id"
                [filteredOptionReturnObject]="false" [filteredOptionColumns]="['code', 'name']"
                (onSearchFunction)="initLanguages($event)">
      <ng-template #dataTableCell let-item="item">
        <span *ngIf="item.language">{{item.language.name}}</span>
      </ng-template>
    </lms-column>
    <lms-column header="Category" field="category" filtered="dynamic-combo" [filteredOptions]="categories"
                filteredFieldName="categoryId" filteredOptionName="name" filteredOptionValue="id"
                [filteredOptionReturnObject]="false" [filteredOptionColumns]="['code', 'name']"
                (onSearchFunction)="initCategories($event)">
      <ng-template #dataTableCell let-item="item">
        <span *ngIf="item.category">{{item.category.name}}</span>
      </ng-template>
    </lms-column>
  </lms-table>

</div>
