<body class="nav-md">

<div class="container body">

  <div id="loader" class="loader-mask hide">
    <div class="loader"></div>
  </div>

  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a routerLink="dashboard" class="site_title"><i class="fa fa-coffee"></i> <span>LMS</span></a>
        </div>

        <div class="clearfix"></div>

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <ul class="nav side-menu">
              <li groupName="Security"><a><i class="fa fa-shield"></i>Security<span
                class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="users" routerLinkActive="" privilege="user_view">Users</a></li>
                  <li><a routerLink="roles" routerLinkActive="" privilege="role_view">Roles</a></li>
                </ul>
              </li>
              <li groupName="Resource"><a><i class="fa fa-book"></i>Resources<span
                class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="resources" routerLinkActive="" privilege="resource_view">Resources</a></li>
                  <li><a routerLink="materialTypes" routerLinkActive="" privilege="material_type_view">Material
                    Types</a></li>
                  <li><a routerLink="categories" routerLinkActive="" privilege="category_view">Categories</a></li>
                  <li><a routerLink="languages" routerLinkActive="" privilege="language_view">Languages</a></li>
                </ul>
              </li>
              <li groupName="Configuration"><a><i class="fa fa-cog"></i>Configuration<span
                class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="configurationProperties" privilege="configuration_property_view">Configuration
                    Property</a></li>
                </ul>
              </li>
              <li groupName="Client"><a><i class="fa fa-users"></i>Client<span
                class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="clients" privilege="client_view">Clients</a></li>
                  <li><a routerLink="schools" privilege="school_view">Schools</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a class="user-profilme dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div *ngIf="loggedInUser">
                  {{loggedInUserName}}
                  <span class=" fa fa-angle-down"></span>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a id="logout" (click)="logout()"><i class="fa fa-sign-out pull-right"></i>
                  Log Out</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <lms-alert-modal id="alertModal" modalTitle={{errorTitle}} modalMessage={{errorMessage}}>
      </lms-alert-modal>
      <router-outlet></router-outlet>
    </div>
    <!-- /page content -->
  </div>
</div>

</body>
